body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
h1{
    text-align: center;
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 32px;
    line-height: 1.5;
}
header {
  background-color: #393e39;
}


nav {
  background-color: #aa7474;
}


li {
  display: inline-block; 
  width: 120px;
}


main {
  background-color: #a41919;
  font-size: 28px;
}


footer {
  background-color: #978f8f;
  color: red;
}